@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --main-color: #f08b18;
    --big-font-color: #4c4c56;
    --small-font-color: #4c4c4c;
    --hover-color: #d3770e;
    --span-text: #4c4c4c;
}

/* =======================================
Header Part Start
======================================= */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 16%;
    z-index: 999;
    transition: background .4s linear;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
nav ul li{
    padding: 10px 0;
}
nav ul li a{
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .4s;
}
nav ul li a:hover{
    color: var(--main-color);
}
.login{
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding-left: 40px;
}
.gan{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-color);
}
#menu-icon{
    font-size: 40px;
    color: white;
    display: none;
}
#close-icon{
    font-size: 40px;
    color: white;
    display: none;
}
header{
    background: url(img/homepage-hero-f92ce3baf2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15% 16%;
    transition: width .5s;
}
.header-text{
    text-align: center;
}
.header-text h1{
    font-size: 54px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
}
.header-text h2{
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-bottom: 60px;
}
.header-text a{
    padding: 15px 25px 15px 45px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color: white;
    position: relative;
    transition: box-shadow .5s ease-out,-webkit-box-shadow .5s ease-out;
}
.header-text span{
    font-size: 18px;
}
.header-text a i{
   font-size: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.header-text a:hover{
    box-shadow: 0 1px 8px rgba(255,255,255,.6);
}
.search{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 20px 0;
}
.search button:hover{
    background-color: var(--hover-color);
}

/* =======================================
ACCELERATE YOUR SUCCESS section Start
======================================= */
.ays-text ol li{
    margin-bottom: 20px;
}
/* =======================================
Testimonial section Start
======================================= */
.testimonial-section{
    background: url(img/map-10d5a59860.png);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 60px;
    align-items: center;
}
.testimonial-title{
    text-align: center;
    margin-bottom: 80px;
}
.testimonial-title p a{
    color: #428bca;
}
.testimonial-title p a:hover{
    text-decoration: underline;
}
.testimonial-col{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.05),0 5px 20px rgba(0,0,0,.05);
    padding: 30px;
    display: flex;
    gap: 30px;
    border-radius: 10px;
}
.user-img {
    flex-basis: 40%;
}
.user-img img{
    width: 100%;
}
.user-name{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.location{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.location span{
    color: #999;
    font-size: 12px;
    font-weight: 700;
}
.location i{
    color: #999;
    cursor: pointer;
}
.location i:hover{
    color: #4c4c4c;
}
.user-text p{
    font-size: 14px;
    color: #999;
    margin-bottom: 40px;
}
/* =======================================
Call to Action Section Start
======================================= */
.cta-section{
    background: url(img/green-chart-526906ac93.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.cta-title{
    text-align: center;
    margin-bottom: 60px;
}
.cta-title h3 strong{
    font-weight: bold;
}
.cta-search{
    text-align: center;
    padding-bottom: 220px;
}
.cta-search input{
    box-shadow: 0 20px 25px 0 #e9eaea;
    border: 1px solid #999;
    border-right: none;

}
.cta-search button{
    border: 1px solid var(--main-color);
}
/* =======================================
Footer Section Start
======================================= */
.footer-section{
    background: #39434c;
    padding: 40px 16%;
}
.footer-col h3{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    text-transform: uppercase;
}
.footer-col ul li{
    margin-bottom: 20px;
}
.footer-col ul li a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: .3s;
}
.footer-col ul li a:hover{
    color: white;
}
.icons{
    text-align: center;
    margin: 40px 0;
}
.icons i{
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color:rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-right: 10px;
    transition: .3s;
}
.icons i:hover{
    color: white;
    border-color: white;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
}
/* =======================================
Reusable Code Start
======================================= */
.section{
    width: 100%;
    padding: 120px 16% 0 16%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 60px;
    align-items: center;
    transition: width .5s;
}

.grid-img{
   width: 100%;
}
.orange-p{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
}
.h2-text{
    font-size: 36px;
    font-weight: 300;
    color: var(--big-font-color);
    margin-bottom: 20px;
}
.p-text{
    font-size: 16px;
    color: var(--small-font-color);
    margin-bottom: 20px;
    font-weight: 300;
}
.span-text{
    font-size: 16px;
    color: var(--span-text);
    font-weight: 600;
}
.strong-text{
    display: inline-block;
    color: var(--span-text);
    margin-bottom: 30px;
}
.s-input{
    width: 420px;
    height: 3rem;
    border-radius: .125rem 0 0 .125rem;
    text-align: left;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}
.s-btn{
    height: 3rem;
    width: 180px;
    border-radius: 0 .125rem .125rem 0;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
}
.s-btn:hover{
    background-color: var(--hover-color);
}
.h3-text{
    font-size: 24px;
    color: var(--small-font-color);
    font-weight: 300;
}

/* =======================================
Responsive Code Start
======================================= */
@media(max-width:1400px){
    nav{
        padding: 20px 5%;
    }
    .section{
        padding: 80px 5% 0 5%;
    }
}
@media(max-width:1100px){
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    #close-icon{
        cursor: pointer;
    }
    nav ul {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #31373d;
        top: -300px;
        text-align: center;
        padding: 30px 0;
        transition: .4s linear;
        z-index: 0;
    }
    .login{
        border: none;
        padding-left: 0px;
    }
    .gan{
        padding-bottom: 5px;
        border-bottom: none;
    }
}
@media(max-width: 960px){
    .rmo-img{
        order: 1;
    }
    .ays-img{
        order: 1;
    }
}
@media(max-width:800px){
    .h2-text{
        font-size: 30px;
    }
}
@media(max-width:700px){
    header{
        padding: 35% 1%;
    }
    .header-text h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .header-text h2{
        margin-bottom: 30px;
    }
    .s-input{
        margin: 0 auto;
        display: block;
        width: 80%;
        margin-bottom: 20px;
    }
    .s-btn{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .cta-search input{
        border: 1px solid rgba(153, 153, 153, 0.4);
    }
    .testimonial-col{
        flex-wrap: wrap;
    }
    .user-img{
        flex-basis: 100%;
        text-align: center;
    }
    .user-img img{
        width: 30%;
    }
    .user-text{
        text-align: center;
    }
    .location{
        justify-content: center;
    }
}
@media(max-width:520px){
    header{
        padding: 35% 1% 55% 1%;
    }
}
@media(max-width:420px){
    header{
        padding: 45% 1% 55% 1%;
    }
    nav img{
        width: 80%;
    }
    .testimonial-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .footer-section{
        padding: 40px 3%;
    }
    .header-text a{
        padding: 10px 20px 10px 40px;
    }
    .header-text span{
        font-size: 16px;
    }
    .header-text a i{
       font-size: 25px;
    }
}
@media(max-width:320px){
    header{
        padding: 35% 1% 65% 1%;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .h2-text{
        font-size: 30px;
    }
}
@media(max-width:260px){
    header{
        padding: 35% 1% 75% 1%;
    }
}

/*! =======================================
Food-Ordering Code Start
=======================================*/
.header{
    padding: 10% 16% 0 16%;
    text-align: center;
    position: relative;
}
.header h1{
    color: var(--big-font-color);
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header h2{
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: var(--small-font-color);
    position: relative;
}
.header span{
    width: 60px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.lm-btn{
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    border: none;
    background-color: white;
    color: var(--small-font-color);
    position: relative;
    cursor: pointer;
    transition: .4s;
}
.lm-btn i{
    font-size: 20px;
    margin-left: 5px;
    position: absolute;
    top: 30%;
}
.lm-btn:hover{
    outline: 1px solid rgba(0, 0, 0, 0.8);
}


/*! Restaurant Services */

.c-list li{
    margin-bottom: 20px;
}
.c-list li img{
    margin-right: 10px;
}